@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: local("Roboto"),
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto"),
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"),
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto"),
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto"),
}

body {
    font-family: "Roboto", "Arial", sans-serif;
}

main {
    margin: 20px 0;
}

img {
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.page-title {
    text-align: center;
}